<!DOCTYPE html>
<html>
  <head>
    <title>U6crm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul><a href="/">All Customers</a></ul>
      <ul><a href="/customers/alphabetized">alphabetized</a></ul>
      <ul><a href="/customers/missing_email">missing_email</a></ul></nav>
    <%= yield %>
  </body>
</html>
